:root {
  --paleblue: #E5E5E5;
  --dustyred: #C4631F;
  --coffee: #B29172;
  --palegreen: #B7C2B4;
  --palegray: #C8BFB6;
  --paletan: #E0BEA2;
  --caramel: #CB906D;
  --darkgray: #4A5759;
  --black: #4A5759;
  --background: #F9F6EF;
}

body {
  background-color: var(--background);
}

.content {
  font-family: 'Montserrat', sans-serif;
}

#here {
  text-decoration: none;
  color: var(--dustyred);
}

#fact-container {
  margin-top: 10px;
  color: #42474b;
}

#hello-container {
    margin-top: 10px;
    color: #0184ff;
}

#comments-container {
    margin-top: 20px;
    background-color: #f7fbff;
    font-weight: lighter;
    color: #42474b;
    border-radius: 20px;
    text-indent: 10px;
}

#centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

#hello {
  font-size: 4em;
  color: var(--darkgray);
  margin-left: 25%;
}

#intro {
  font-style: bold;
  line-height: 150%;
  margin-left: 25%;
  margin-right: 25%;
  color: var(--coffee);
}

/* from previous website */

.link {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.github {
  background-image: url('../images/github.svg');
  width: 45px;
  height: 45px;
}

.linkedin {
  background-image: url('../images/linkedin.png');
  width: 45px;
  height: 45px;
}

.email {
  background-image: url('../images/email.png');
  width: 45px;
  height: 45px;
}

.facebook {
  background-image: url('../images/facebook.png');
  width: 45px;
  height: 45px;
}

.socialMediaDiv {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
